body, button, input, input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-img{
    background-image: url('./puble/backimg.png');
    height: 65vh;
    background-size: cover;
    background-position: 0%;
}
.sect-2-img {
    height: 185px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
  }
  .sect-2-img img {
    position: absolute;
    top: -35%;
  }
  .sect-card:hover{
    scale: 1.05;
    transition: .5s;
  }
  .sect-card{
    transition: .5s;
  }
  .sect-4-img {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sect-4-img .content {
    position: absolute;
    bottom: 0;
    width: 100%;

  }
  